<h1>This folder: <%= @folder.name %>
<%= link_to "Delete Folder", folder_path(@folder),method: :delete, class: "btn btn-danger"%>
</h1>
<div class="container">
	<% @folder.photos.each do |photo| %>
		<div class="image-holder">
			<%= image_tag photo.avatar.url, class: 'hi' %><br />
			<p>http://robobox.herokuapp.com<%= photo.avatar.url %></p><br />
		</div>
	<% end %>
</div>

<h2>Add Content:</h2>

<%= form_for([@folder, @folder.photos.build]) do |f| %>
	<%= f.file_field :avatar %>
  	<%= f.submit %>
<% end %>
